* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
  }
  
/* Navigation Bar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(241, 238, 235);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 50px;
    }

.title {
font-family: 'Josefin Sans', sans-serif;
font-weight: 500;
color: rgb(79, 112, 68);
font-size: 50px;
}

.friendsearch {
    display: flex;
    align-items: center;
  }
  
  .friends {
    padding: 1px;
    width: 140px;
  }

  .search-btn:hover {
      cursor: pointer;
  }

  /* Header */
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
    padding-left: 20px;
    font-weight: 300;
    font-size: 33px;
    }

/* Table Styles */
#GFG:hover {
    /* background-color: gray; */
    color: gray;
}

#GFG {
  color:black;
  text-decoration: none;
}

label {
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.table {
    font-family: 'Josefin Sans', sans-serif;
    border-collapse: collapse;
    margin: 5px 0px 10px 20px;
    width: 650px;
}

.row {
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    max-height: auto;
}

.col-sm {
    display: flex;
}

.friend-table{
    display: flex;
}

button {
    margin: 20px;
    padding: 5px;
    background-color: rgb(79, 112, 68);
    border: none;
}

.img {
    background-image: url("https://images.pexels.com/photos/1488327/pexels-photo-1488327.png?cs=srgb&dl=pexels-thanhhoa-tran-1488327.jpg&fm=jpg");
    background-size: cover;
    width: 100%;
    height: 245px;
}

/* Footer */

.foot {
    background-color: #f5f5f5;
    padding: 10px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .foot a {
    color: rgb(58, 58, 58);
  }
  
  .foot a:hover {
    color: grey;
    cursor: pointer;
  }
  
  .foot-right:hover {
    cursor: pointer;
  }