@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
  }
  
/* Navigation Bar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(241, 238, 235);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 50px;
    }

.title {
font-family: 'Josefin Sans', sans-serif;
font-weight: 500;
color: rgb(79, 112, 68);
font-size: 50px;
}

.friendsearch {
    display: flex;
    align-items: center;
  }
  
  .friends {
    padding: 1px;
    width: 140px;
  }

  .search-btn:hover {
      cursor: pointer;
  }

  #logout {
    text-decoration: none;
    color: rgb(79, 112, 68);
    font-weight: 500;
  }

  /* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button {
    background-color: rgb(79, 112, 68);
    color: black;
    padding: 10px;
    margin-right: 10px;
    border: none;
  }

button:hover {
    cursor: pointer;
}

h2 {
font-family: 'Josefin Sans', sans-serif;
/* font-family: 'Nanum Pen Script', cursive; */
font-weight: 300;
font-size: 33px;
}

h3 {
font-family: 'Josefin Sans', sans-serif;
/* font-family: 'Nanum Pen Script', cursive; */
font-weight: 300;
font-size: 25px;
padding-left: 20px;
}

/* Tables */

#GFG:hover {
    /* background-color: gray; */
    color: gray;
}

#GFG {
  color:black;
  text-decoration: none;
}

.table {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    border-collapse: collapse;
    margin: 5px 0px 10px 20px;
    max-height: 500px;
    overflow: scroll;
    width: 700px;
}

th {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.press {
  text-decoration: none;
  color: rgb(64, 85, 51);
}

.press:hover {
  color: gray;
}

.row {
    width: 1500px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 20px;
}

.col-sm {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.col-right {
    display: flex;
    width: 600px;
    flex-direction: column;
}

.img {
    background-image: url("https://images.pexels.com/photos/88212/pexels-photo-88212.jpeg?cs=srgb&dl=pexels-zukiman-mohamad-88212.jpg&fm=jpg");
    background-size: cover;
    margin-top: 180px;
    width: 100%;
    height: 245px;
}

/* Footer */

.foot {
    background-color: #f5f5f5;
    padding: 10px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .foot a {
    color: rgb(83, 98, 66);
  }
  
  .foot a:hover {
    color: grey;
    cursor: pointer;
  }
  
  .foot-right:hover {
    cursor: pointer;
  }